@{
    ViewBag.Title = "Teste pola";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Slots</h1>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xs-12 col-lg-12">
                <p>
                    <button type="button" class="btn btn-labeled btn-success" data-toggle="modal" data-target="#add_depoimento"><span class="btn-label"><i class="icon-homem2"></i></span>Adicionar Usuário</button>
                </p>
            </div>
        </div> -->
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Slots
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Foto</th>
                                        <th>Nome</th>
                                        <th>Empresa</th>
                                        <th>Tipo</th>
                                        <th>Destaque</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>Aqui vai foto</td>
                                        <td>José Doidão</td>
                                        <td>Provisuado</td>
                                        <td><span class="label label-default">Normal</span></td>
                                        <td><i class='text-warning icon-2x icon-estrela'></i></td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" data-toggle="modal" data-target="#update_depoimento_<?php echo $id ?>" class="btn btn-info"><i class="icon-engrenagem-02 icon-1_5x"></i></button>
                                                <button class="delete-item btn btn-danger" id="<?php echo $id ?>" data-preview="<?php echo $foto ?>" data-nome="<?php echo $nome ?>"><i class="icon-lixeira-02 icon-1_5x"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->

    </div><!-- /.container -->
@Html.Partial("PV_scripts_extra")