<nav class="jasny-navbar navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target=".navmenu">
                <span class="sr-only">Abrir menu</span>
                <i class="icon-menu"></i>
            </button>
            <a class="navbar-brand" href="../sobre"><i class="icon-microfone"></i> Sistema Palestra</a>
        </div>
        <div id="navbar" class="navbar-right hidden-xs">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ir para <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://pt.futurecom.com.br/" target="_blank"><i class="icon-futurecom"></i> Site Oficial</a></li>
                        <li><a href="http://www.futurecom.com.br/dev" target="_blank"><i class="icon-globo"></i> DEV</a></li>
                    </ul>
                </li>
            </ul>
            <p class="navbar-text">Olá, Marilene</p>
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);" class="navbar-logoff"><i class="icon-xis"></i></a></li>
            </ul>
        </div>
    </div>
</nav>