<nav class="navmenu navmenu-default navmenu-fixed-left">
    <ul class="nav navmenu-nav">
        <li><a href="@Url.Action("Index", "Home")"><i class="icon-home navmenu-icon"></i>Home</a></li>
        <li><a href="@Url.Action("Index", "Empresa")"><i class="icon-flamula navmenu-icon"></i>Empresas</a></li>
        <li><a href="@Url.Action("Index", "Pessoas")"><i class="icon-homem navmenu-icon"></i>Pessoas</a></li>
    </ul>
    <hr />
    <ul class="nav navmenu-nav">
        <li><a href="http://www.futurecom.com.br/agenda"><i class="icon-calendario navmenu-icon"></i> Agenda Futurecom</a></li>
        <li><a href="http://www.futurecom.com.br/admin"><i class="icon-futurecom navmenu-icon"></i> FutureAdmin</a></li>
        <li><a href="http://www.futurecom.com.br/admin"><i class="icon-atomo navmenu-icon"></i> FutureMaster</a></li>
    </ul>
    <div class="nav navmenu-nav visible-xs visible-sm">
        <hr />
        <p class="navmenu-text">Logado como <a href="#" class="btn btn-xs btn-labeled btn-default ">Marilene<span class="btn-label btn-label-right"><i class="icon-xis"></i></span></a></p>
    </div>
</nav>